@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;400;500;600&display=swap');
body {
  background-color: #e5e5e5;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}
