.pagination {
  text-align: center;
  margin-bottom: 10px;
}

.spin {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.error {
  width: 15%;
  position: fixed;
  top: 50%;
  left: 50%;
}
