header {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  background-color: white;
  align-items: center;
  margin-bottom: 26px;
}

header a {
  color: rgba(0, 0, 0, 0.85);
}

.wrapperLink {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup {
  color: #52c41a;
  border: 1px solid#52c41a;
  border-radius: 4px;
  padding: 4px;
}

.wrapperLinkAvt {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
